html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: aquamarine;
  zoom: 120%;
  -ms-zoom: 130%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.top {
  margin-bottom: -1px;
  background-color: rgba(0, 0, 0, 0.1);

  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  border-radius: 0;
}

.bottom {
  background-color: rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


input::placeholder {
  color: black !important;
}
